
*{
  scroll-behavior: smooth;
}


/* ========== Project Section ========== */

.project-card{
  position: relative;
  overflow: hidden;
  }
  .project-card:hover .project-card-cta{
  opacity:1;
  transition: all 0.8s ease-in;
  }
  .project-card-cta{
  position: absolute;
  bottom: 5%;
  left:0;
  width: 90%;
  margin: 0 5% !important;
  opacity: 0;
  }

/* ========== Services Section ========== */


  .service-box-content{
    max-width: 34%;
  }
  @media only screen and (max-width: 769px){
    .service-box-content{
      max-width: 100%;
    }
  }