

  .mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
  }
  .mySwiper .swiper-slide-thumb-active {
    .slide-thumb-box{
        background-color: black!important;
        color: white!important;
    }
  }
  .mySwiper2 .swiper-wrapper{
  }
  .mySwiper2 .swiper-slide {
    max-height: 60vh;
    
  }
